*{
    padding: 0;
    margin: 0;
}
header{
    background-color: palevioletred;
    width: 1570px;
    height: 630px;
    border-radius: 35px;
    margin-left: 12px;
    
}
body h1{
    font-size: 300%;
}